.product {
    margin-bottom: 30px;
}

small {
    font-size: 11px;
}

image {
    margin-bottom: 10px;
}

.image img {
    object-fit: cover;
    border-radius: 7px;
    margin: 0% 10%;
    
}

.info h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0;
    min-height: 100px;
}

.description-product{
    -webkit-line-clamp: 8;
    line-clamp: 8;
    display:  -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rating {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.rating li {
    display: inline-block;
    color: #ffc107
}

.info-weight-description {
    display: flex;
    flex-flow: row nowrap ;
    align-items: flex-end;
    flex-flow: column nowrap;
}

.add-to-cart {
    border: none;
    width: 40px;
    height: 40px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8bc34a;    
    color: white;
    border-radius: 10px;
}

.price-cart
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {
    font-size: 18px;
    font-weight: 700;
}

.color-changing-button {
    transition: background-color 0.5s ease; 
    padding: 10px 20px;
    cursor: pointer;
  }

 .info h3 {
   text-align: center;
  }

  .context-product {
    display: flex;
    width: 100px;
    justify-content: space-between;
  }

  .product-favorites {
    border: none;
    width: 40px;
    height: 40px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .product-favorites {
    color: red;
  }
  .pp {
    background-color: green;
  }